<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理登录</title>
<script type="text/javascript" src="../js/jQuery.js"></script>
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(function() {
		$("#backBtn").on("click", function() {
			window.location.href = "/";
		});
	});
</script>
</head>
<body>
	<div class="login">
		<div class="box">
			<form action="/login" method="get">
				<div class=""></div>
				<div class="input">
					<div class="log">
						<div style="padding-left: 120px;">
							<h1>出错啦</h1>
						</div>
						<div>
							<input id="backBtn" type="button" class="submit"
								style="margin: 25px 0 0 100px;" value="返回登录画面" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>